/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.coaster-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;

}
.bottom-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img{
    width: 450px;
    height: 275px;
    border-radius: 3%;
}
.coaster-picture{
    padding-left: 100px;
}
#star{
    float: right;
}
.review-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.review{
    width: 80%;
}
.review-header{
    justify-content: space-between;
    width: 100%;
}
.rating-num{
    font-size: 20px;
}
